<form action="/payment/results">
    
    <label for="blue">APR</label>
    <input id="blue" type="text" placeholder="E.g. 5.42" name="elephant">
    <div>
    <label for="yellow">Number of years</label>
    <input id="yellow" type="text" placeholder="How many years to repay?" name="elephant">
<div>
    <label for="black">Principal</label>
    <input id="black" type="text" placeholder="How much principal" name="elephant">
</div>
    <div>
    <button>Calculate monthly payment</button>
    </div>
</form>